<!-- <p>documents works!</p> -->

<div class="row m-0 mt-2 p-2 card">
            <div id="ContentPlaceHolder1_nestedContent_div1" class="row border card-body p-2 m-0">
              <div class="col-md-2">
                Academic Year
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$academicyear"
                  id="ContentPlaceHolder1_nestedContent_academicyear" class="form-control">
                  <option selected="selected" value="%">--All--</option>
                  <option value="2025-2026">ADM-06 || ABHASH  CHAUDHARY || PREMPAL KUMAR || 7088665522 || 0 || I-A</option>
                  <!-- <option value="2027-2028">2027-2028</option> -->

                </select>
              </div>
              <div class="col-md-2">
                Name
                <br />
               <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Name" />
              </div>
              <div class="col-md-2">
                Father Name
                <br />
             <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Section" />
              </div>

              <div class="col-md-2">
                Class
                <br />
                <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquirytype"
                  id="ContentPlaceHolder1_nestedContent_enquirytype" class="form-control" placeholder="Enter Type" />
              </div>

              <div class="col-md-1"> contact no<br />
                <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Contact No" />
              </div>
              <div class="col-md-1">Document type<br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control">
                  <option selected="selected" value="%">--Select--</option>
                  <option value="NURSERY">Adhar Card </option>
                  <option value="PLAY GROUP">TC</option>
                  <option value="LKG">Passport size photo</option>
                  
                  </select>
              </div>

               <div class="col-md-1"><br />
               <input type="file" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$fileupload"
                  id="ContentPlaceHolder1_nestedContent_fileupload" class="form-control" />
              </div>



              <div class="col-md-1"><br />
                <input type="submit" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$export" value="Save"
                  id="ContentPlaceHolder1_nestedContent_export" class="btn w-100 btn-success " />
              </div>
               <div class="col-md-1"><br />
                <input type="submit" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$export" value="Report"
                  id="ContentPlaceHolder1_nestedContent_export" class="btn w-100 btn-warning " />
              </div>
              <div class="col-md-1">
                <p> Total Student </p><br />


              </div>
              <div id="ContentPlaceHolder1_nestedContent_div2"
                class="row border card card-body table-responsive m-0 p-1 mt-1">
                <div>
                  <table class="table table-striped table-bordered table-hover" cellspacing="0" id="grddata"
                    style="border-collapse:collapse;">
                    <tr>
                      <th scope="col">SN</th>
                      <th class="d-none" scope="col">sn</th>
                      
                      <th scope="col">Admission No</th>
                      <!-- <th scope="col">Roll No</th> -->
                      <th scope="col">Name</th>
                      <!-- <th scope="col">Father Name</th>
                      <th scope="col">Mother Name</th>
                      <th scope="col">DOB</th> -->
                      <th scope="col">Document</th>
                     

                      <th scope="col">&nbsp;</th>
                    </tr>
                    <tr>
                      <td colspan="14">No Data Found</td>
                    </tr>
                  </table>
                </div>
