<!-- <p>status-change works!</p> -->
 <div class="row m-0 mt-2 p-2 card">
            <div id="ContentPlaceHolder1_nestedContent_div1" class="row border card-body p-2 m-0">
              <div class="col-md-2">
               Student 
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$academicyear"
                  id="ContentPlaceHolder1_nestedContent_academicyear" class="form-control">
                  <option selected="selected" value="%">--Select--</option>
                  <!-- Adm no || Name || father name || mobile no. || 0 || I-A -->
                  <option value="2025-2026">ADM-06 || ABHASH  CHAUDHARY || PREMPAL KUMAR || 7088665522 || 0 || I-A</option>
                  

                </select>
              </div>
              <div class="col-md-2">
                Name
                <br />
                <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Name" />
              </div>
              <div class="col-md-2">
                Father Name
                <br />
                <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Father Name" />
              </div>

              <div class="col-md-1">
                Class
                <br />
                <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Name" />
              </div>

              <div class="col-md-2">Contact No<br />
                <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Name" />
              </div>
              <div class="col-md-1">Remark<br />
                <input type="text" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control" placeholder="Enter Name" />
              </div>
              <div class="col-md-1">Status<br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control">
                  <option selected="selected" value="%">Active</option>
                  <option value="Inactive">Inactive</option>
                  </select>
              </div>
              <div class="col-md-1"><br />
                <input type="submit" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$export" value="Save"
                  id="ContentPlaceHolder1_nestedContent_export" class="btn w-100 btn-warning " />
              </div>
              <div id="ContentPlaceHolder1_nestedContent_div2"
                class="row border card card-body table-responsive m-0 p-1 mt-1">
                <div>
                  <table class="table table-striped table-bordered table-hover" cellspacing="0" id="grddata"
                    style="border-collapse:collapse;">
                    <tr>
                      <th scope="col">SN</th>
                     
                      <th scope="col">Session</th>
                      <th scope="col">Admission No</th>
                      
                      <th scope="col">Name</th>
                      
                      <th scope="col">Class</th>
                      <th scope="col">Remark</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date</th>
                      

                     
                    </tr>
                    <tr>
                      <td colspan="14">No Data Found</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
