<!-- <p>section-change works!</p> -->
 <div class="row m-0 mt-2 p-2 card">
            <div id="ContentPlaceHolder1_nestedContent_div1" class="row border card-body p-2 m-0">
              <div class="col-md-2">
                Academic Year
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$academicyear"
                  id="ContentPlaceHolder1_nestedContent_academicyear" class="form-control">
                  <option selected="selected" value="%">--All--</option>
                  <option value="2025-2026">2025-2026</option>
                  <option value="2027-2028">2027-2028</option>

                </select>
              </div>
              <div class="col-md-2">
                Class
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control">
                  <option selected="selected" value="%">All</option>
                  <option value="NURSERY">NURSERY</option>
                  <option value="PLAY GROUP">PLAY GROUP</option>
                  <option value="LKG">LKG</option>
                  <option value="UKG">UKG</option>
                  <option value="I">I</option>
                  <option value="II">II</option>
                  <option value="III">III</option>
                  <option value="IV">IV</option>
                  <option value="V">V</option>
                  <option value="VI">VI</option>
                  <option value="VII">VII</option>
                  <option value="VIII">VIII</option>

                </select>
              </div>
              <div class="col-md-2">
                Section
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control">
                  <option selected="selected" value="%">A</option>
                  <option value="NURSERY">B</option>
                  <option value="PLAY GROUP">C</option>
                  <option value="LKG">D</option>


                </select>
              </div>

           

              <div class="col-md-1"><br />
                <input type="submit" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$search" value="Search"
                  id="ContentPlaceHolder1_nestedContent_search" class="btn w-100 btn-success" />
              </div>
             
              <div class="col-md-2">
                <p> Total Student </p><br />


              </div>
              <!-- view detail  -->
              <div id="ContentPlaceHolder1_nestedContent_div2"
                class="row border card card-body table-responsive m-0 p-1 mt-1">
                <div>
                  <table class="table table-striped table-bordered table-hover" cellspacing="0" id="grddata"
                    style="border-collapse:collapse;">
                    <tr>
                      <th scope="col">SN</th>
                      <!-- <th class="d-none" scope="col">sn</th> -->
                      <th scope="col">Session</th>
                      <th scope="col">Admission No</th>
                     
                      <th scope="col">Name</th>
                      <th scope="col">Father Name</th>
                     
                      <th scope="col">Class</th>
                      <th scope="col">Section</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">New Section </th>
                      

                      <th scope="col">&nbsp;</th>
                    </tr>
                    <tr>
                      <td colspan="14">No Data Found</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
