<!-- <p>tc works!</p> -->
  <div class="row m-0 mt-2 p-2 card">
            <div id="ContentPlaceHolder1_nestedContent_div1" class="row border card-body p-2 m-0">
              <div class="col-md-2">
                Session From
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$academicyear"
                  id="ContentPlaceHolder1_nestedContent_academicyear" class="form-control">
                  <option selected="selected" value="%">--All--</option>
                  <option value="2025-2026">2025-2026</option>
                  <option value="2027-2028">2027-2028</option>

                </select>
              </div>
              <div class="col-md-2">
                Admission No
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control">
                  <option selected="selected" value="%">All</option>
                  <option value="NURSERY">Name : ABHINAV SAXENA || F.Name : SHRI GOPAL SAXENA ||Current Class : I-A || Contact : 8979219245
</option>
                  

                </select>
              </div>
              <div class="col-md-2">
                Section to
                <br />
                <select name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$enquiryclass"
                  id="ContentPlaceHolder1_nestedContent_enquiryclass" class="form-control">
                  <option selected="selected" value="%">2025-2026</option>
                 


                </select>
              </div>

             

              <div class="col-md-1"><br />
                <input type="submit" name="ctl00$ctl00$ContentPlaceHolder1$nestedContent$search" value="Save"
                  id="ContentPlaceHolder1_nestedContent_search" class="btn w-100 btn-success" />
              </div>
